head{background-color: white;}
body{
	background-color: palegreen;
	text-align: center;}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
ol{text-align: left;}
ul{text-align: left;}
h2{text-align: left;}
img{ width: 500px;}
footer{background-color: white;}
p{font-size: 20px;}
h2{color: forestgreen;}
h1{color: darkgreen;}
